USE [master]
GO
/****** Object:  Database [DBUxcomexTest]    Script Date: 30/12/2024 20:08:59 ******/
CREATE DATABASE [DBUxcomexTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBUxcomexTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBUxcomexTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBUxcomexTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DBUxcomexTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBUxcomexTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBUxcomexTest]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 30/12/2024 20:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](50) NOT NULL,
	[CEP] [varchar](8) NOT NULL,
	[PersonId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 30/12/2024 20:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](13) NOT NULL,
	[CPF] [varchar](11) UNIQUE NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Person]
GO
USE [master]
GO
USE [DBUxcomexTest]
GO

insert into Person values ('Amanda Silva', '5511912341234', '13771002869')
insert into Person values ('João Gomes', '5511946364812', '02147373818')
insert into Person values ('Gabriel Ribeiro', '5511957258977', '12257286812')

insert into Address (Name, City, State, CEP, PersonId) values ('Av. 9 de Julho', 'São Paulo', 'SP', '12345678', 1)
insert into Address (Name, City, State, CEP, PersonId) values ('Av. Liberdade', 'São Paulo', 'SP', '12345678', 1)
insert into Address (Name, City, State, CEP, PersonId) values ('Rua Jorge Amado ', 'São Paulo', 'SP', '12345678', 2)

USE [master]
GO
