@{
    ViewData["Title"] = "Home Page";
}

<section class="home">
    <h2 class="">UxcomexTest<br>Grato pela Oportunidade!</h2>

    <a class="btnConfirme" asp-controller="Person" asp-action="Index">
        Começar
        <i class="bi bi-chevron-compact-right"></i>
    </a>
</section>
