@{
    ViewData["Title"] = "Home Page";
}

<div class="home d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-4 mb-3">UxcomexTest<br>Grato pela oportunidade!</h1>

    <a class="btnConfirme" asp-controller="Person" asp-action="Index"> Começar </a>
</div>
