@model UxcomexTest.Models.Address;

@{
    ViewData["Title"] = "Edit";
}
<section class="editAddress">

    <header class="breadcrumbNav">
        <nav>
            <span>Endereço</span>
            <i class="bi bi-chevron-compact-right text-secondary"></i>
            Edição
        </nav>
        <hr />
    </header>


    <form id="formAddress" asp-action="Edit" onsubmit="cleanAddressForm()">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CEP" class="control-label"></label>
            <div class=" cepField">
                <input asp-for="CEP" class="form-control" id="cep" oninput="maskCEP(this.value)"/>
                <button type="button" id="cepSearch" onclick="pesquisacep()">Procurar</button>
            </div>
            <span asp-validation-for="CEP" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" id="name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" id="city" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="State" class="control-label"></label>
            <input asp-for="State" class="form-control" id="state" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <div class="btns form-group">
            <a type="button" class="btnClose" asp-controller="Person" asp-action="Edit" asp-route-id="@Model.PersonId">Voltar</a>
            <button type="submit" class="btnConfirme" value="Create">Salvar</button>
        </div>
    </form>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
